<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Responsive CSS Tabs</title>
      
  <link rel="stylesheet" type="text/css" href="style.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>
<div id="Options">

<body>
  <h1>Free-Weights</h1>

<main>
  
  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Bench Press</label>
    
  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Squat Rack</label>
    
  <input id="tab3" type="radio" name="tabs">
  <label for="tab3">Incline Bench</label>
    
  <input id="tab4" type="radio" name="tabs">
  <label for="tab4">Decline Bench</label>

  <input id="tab5" type="radio" name="tabs">
  <label for="tab5">Dead Lift</label>

  <input id="tab6" type="radio" name="tabs">
  <label for="tab6">Power Clean</label>

    
  <section id="content1">
    <p>
      Bacon ipsum dolor sit amet beef venison beef ribs kielbasa. Sausage pig leberkas, t-bone sirloin shoulder bresaola. Frankfurter rump porchetta ham. Pork belly prosciutto brisket meatloaf short ribs.
    </p>
    <p>
      Brisket meatball turkey short loin boudin leberkas meatloaf chuck andouille pork loin pastrami spare ribs pancetta rump. Frankfurter corned beef beef tenderloin short loin meatloaf swine ground round venison.
    </p>
  </section>
    
  <section id="content2">
    <p>
      Bacon ipsum dolor sit amet landjaeger sausage brisket, jerky drumstick fatback boudin ball tip turducken. Pork belly meatball t-bone bresaola tail filet mignon kevin turkey ribeye shank flank doner cow kielbasa shankle. Pig swine chicken hamburger, tenderloin turkey rump ball tip sirloin frankfurter meatloaf boudin brisket ham hock. Hamburger venison brisket tri-tip andouille pork belly ball tip short ribs biltong meatball chuck. Pork chop ribeye tail short ribs, beef hamburger meatball kielbasa rump corned beef porchetta landjaeger flank. Doner rump frankfurter meatball meatloaf, cow kevin pork pork loin venison fatback spare ribs salami beef ribs.
    </p>
    <p>
      Jerky jowl pork chop tongue, kielbasa shank venison. Capicola shank pig ribeye leberkas filet mignon brisket beef kevin tenderloin porchetta. Capicola fatback venison shank kielbasa, drumstick ribeye landjaeger beef kevin tail meatball pastrami prosciutto pancetta. Tail kevin spare ribs ground round ham ham hock brisket shoulder. Corned beef tri-tip leberkas flank sausage ham hock filet mignon beef ribs pancetta turkey.
    </p>
  </section>
    
  <section id="content3">
    <p>
      Bacon ipsum dolor sit amet beef venison beef ribs kielbasa. Sausage pig leberkas, t-bone sirloin shoulder bresaola. Frankfurter rump porchetta ham. Pork belly prosciutto brisket meatloaf short ribs.
    </p>
    <p>
      Brisket meatball turkey short loin boudin leberkas meatloaf chuck andouille pork loin pastrami spare ribs pancetta rump. Frankfurter corned beef beef tenderloin short loin meatloaf swine ground round venison.
    </p>
  </section>
    
  <section id="content4">
    <p>
      Bacon ipsum dolor sit amet landjaeger sausage brisket, jerky drumstick fatback boudin ball tip turducken. Pork belly meatball t-bone bresaola tail filet mignon kevin turkey ribeye shank flank doner cow kielbasa shankle. Pig swine chicken hamburger, tenderloin turkey rump ball tip sirloin frankfurter meatloaf boudin brisket ham hock. Hamburger venison brisket tri-tip andouille pork belly ball tip short ribs biltong meatball chuck. Pork chop ribeye tail short ribs, beef hamburger meatball kielbasa rump corned beef porchetta landjaeger flank. Doner rump frankfurter meatball meatloaf, cow kevin pork pork loin venison fatback spare ribs salami beef ribs.
    </p>
    <p>
      Jerky jowl pork chop tongue, kielbasa shank venison. Capicola shank pig ribeye leberkas filet mignon brisket beef kevin tenderloin porchetta. Capicola fatback venison shank kielbasa, drumstick ribeye landjaeger beef kevin tail meatball pastrami prosciutto pancetta. Tail kevin spare ribs ground round ham ham hock brisket shoulder. Corned beef tri-tip leberkas flank sausage ham hock filet mignon beef ribs pancetta turkey.
    </p>
  </section>

  <section id="content5">
    
    <p>
      Keep it real
    </p>
    <p>
      Do yo thang
    </p>


  </section>


    
</main>

<table class="datepicker">
    <caption class="datepicker-caption">
      <a href="index.html" class="datepicker-prev">Previous</a>
      <span class="datepicker-title">April 2013</span>
      <a href="index.html" class="datepicker-next">Next</a>
    </caption>
    <thead class="datepicker-head">
      <tr>
        <th class="datepicker-th">Mo</th>
        <th class="datepicker-th">Tu</th>
        <th class="datepicker-th">We</th>
        <th class="datepicker-th">Th</th>
        <th class="datepicker-th">Fr</th>
        <th class="datepicker-th">Sa</th>
        <th class="datepicker-th">Su</th>
      </tr>
    </thead>
    <tbody class="datepicker-body">
      <tr>
        <td class="datepicker-td"><a href="index.html">1</a></td>
        <td class="datepicker-td"><a href="index.html">2</a></td>
        <td class="datepicker-td"><a href="index.html">3</a></td>
        <td class="datepicker-td"><a href="index.html">4</a></td>
        <td class="datepicker-td"><a href="index.html">5</a></td>
        <td class="datepicker-td"><a href="index.html">6</a></td>
        <td class="datepicker-td"><a href="index.html">7</a></td>
      </tr>
      <tr>
        <td class="datepicker-td"><a href="index.html">8</a></td>
        <td class="datepicker-td"><a href="index.html">9</a></td>
        <td class="datepicker-td today"><a href="index.html">10</a></td>
        <td class="datepicker-td"><a href="index.html">11</a></td>
        <td class="datepicker-td"><a href="index.html">12</a></td>
        <td class="datepicker-td"><a href="index.html">13</a></td>
        <td class="datepicker-td"><a href="index.html">14</a></td>
      </tr>
      <tr>
        <td class="datepicker-td"><a href="index.html">15</a></td>
        <td class="datepicker-td"><a href="index.html">16</a></td>
        <td class="datepicker-td"><a href="index.html">17</a></td>
        <td class="datepicker-td"><a href="index.html">18</a></td>
        <td class="datepicker-td"><a href="index.html">19</a></td>
        <td class="datepicker-td"><a href="index.html">20</a></td>
        <td class="datepicker-td"><a href="index.html">21</a></td>
      </tr>
      <tr>
        <td class="datepicker-td"><a href="index.html">22</a></td>
        <td class="datepicker-td"><a href="index.html">23</a></td>
        <td class="datepicker-td"><a href="index.html">24</a></td>
        <td class="datepicker-td"><a href="index.html">25</a></td>
        <td class="datepicker-td"><a href="index.html">26</a></td>
        <td class="datepicker-td"><a href="index.html">27</a></td>
        <td class="datepicker-td"><a href="index.html">28</a></td>
      </tr>
      <tr>
        <td class="datepicker-td"><a href="index.html">29</a></td>
        <td class="datepicker-td"><a href="index.html">30</a></td>
        <td class="datepicker-td off"><a href="index.html">1</a></td>
        <td class="datepicker-td off"><a href="index.html">2</a></td>
        <td class="datepicker-td off"><a href="index.html">3</a></td>
        <td class="datepicker-td off"><a href="index.html">4</a></td>
        <td class="datepicker-td off"><a href="index.html">5</a></td>
      </tr>
    </tbody>
  </table>
  
  
</body>

</div>
</html>
